{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Easy Shares</h1>
    <h3>{{ today }}</h3>
    <p class="lead">Easy Shares is a application to query and follow stocks, with profit rate given everyday.</p>
    <p><a href="http://github.com/orcuslc/stock" class="btn btn-primary btn-large">Learn about of our source code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Login to query, choose your stock and get your profit rate yesterday.
        </p>
        <p>
        {% if not session.logged_in %}
        <a class="btn btn-default" href="{{url_for('login')}}">Login &raquo;</a>
        {% else %}
        <a class="btn btn-default" href="{{url_for('logout')}}">Logout</a>
        {% endif %}
        </p>
    </div>
    <div class="col-md-4">
        <h2>Search Shares</h2>
        <p>Search shares that you are interested in here.</p>
        {% if session.logged_in %}
        <form action="{{ url_for('search_shares') }}" method=post class=add-share>
            <h3>
                Search Share by Code:&nbsp;<input type=text size=10 name=code>
                <input type=submit value=Search &raquo>
            </h3>
        </form>
        {% else %}
        <a class="btn btn-default" href="{{url_for('login')}}">Please Log in first &raquo;</a>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h2>Show Your Profits</h2>
        <p>Check your Profits yesterday with the shares you selected.</p>
        {% if session.logged_in %}
        <p><a class="btn btn-default" href="{{url_for('show_shares')}}">Check your Profits &raquo;</a></p>
        {% else %}
        <a class="btn btn-default" href="{{url_for('login')}}">Please Log in first &raquo;</a>
        {% endif %}
    </div>
</div>

{% endblock %}
