{% extends "layout.html" %}
{% block content %}
  <form class=add-share>
    <h3>Search results are showed here:</h3>
  </form>
  <ul class=shares> </ul>
  {% for share in shares %}
     <p>code: &nbsp; {{share.code}}&#12288;&#12288;&#12288;&#12288;&#12288;&#12288;date: {{ share.date }}</p>
     <p>name: &nbsp; {{ share.name }}</p>
     <p>c_name: &nbsp; {{ share.c_name }}</p>
     <p>holdingQuantity: &nbsp; {{ share.holdingQuantity }}</p>
     <p>closeprice: &nbsp; {{ share.close }} &nbsp; &nbsp; &nbsp; price_change: &nbsp; {{ share.price_change }}</p> 
     <hr width=80% size=3 color="2b65ec" align="left" style="filter:progid:DXImageTransform.Microsoft.Glow(color=#00ffff,strength=10)" />
  {% else %}
   	 <li><em>Unbelievable. No shares found here</em>
  {% endfor %}
  {% if session.logged_in and shares %}
       <form action="{{ url_for('modify_share', code=shares[0].code) }}" method=post class=add-share>
           <h3>Modify Share Quantity:&#12288;<input type=text size=7 name=quantity>
                                             <input type=submit value=Submit></h3>
       </form>
  {% endif %}
  </ul>
{% endblock %}