{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('search_shares') }}" method=post class=add-share>
        <h3>Search Share by Code:&nbsp;<input type=text size=10 name=code>
                                       <input type=submit value=Search></h3>
    </form>
  {% endif %}
  <form class=add-share>
    <h3>Search results are showed here:</h3>
  </form>
  <ul class=shares>
  {% for share in shares %}
     <p>code: &nbsp; {{share.code}}&#12288;&#12288;&#12288;&#12288;&#12288;&#12288;date: {{ share.date }}</p>
     <p>name: &nbsp; {{ share.name }}</p>
     <p>c_name: &nbsp; {{ share.c_name }}</p>
     <p>holdingQuantity: &nbsp; {{ share.holdingQuantity }}</p>
     <p>closeprice: &nbsp; {{ share.close }} &nbsp; &nbsp; &nbsp; price_change: &nbsp; {{ share.price_change }}</p>   
  {% else %}
   	 <li><em>Unbelievable. No shares found here</em>
  {% endfor %}
  {% if session.logged_in and shares %}
       <form action="{{ url_for('modify_share', code=shares[0].code) }}" method=post class=add-share>
           <h3>Modify Share Quantity:&#12288;<input type=text size=7 name=quantity>
                                             <input type=submit value=Submit></h3>
       </form>
  {% endif %}
  </ul>
{% endblock %}