{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('search_shares') }}" method=post class=add-share>
        <h3>Search Share by Code:&nbsp;<input type=text size=10 name=code>
                                       <input type=submit value=Search></h3>
    </form>
  {% endif %}
  <form class=add-share>
    <h3>Your shares are showed here:</h3>
  </form>
  <ul class=shares>
  {% for share in shares %}
     <p>code: &nbsp; {{share.code}}</p>
     <p>name: &nbsp; {{ share.name }} &nbsp; &nbsp; &nbsp; c_name: &nbsp; {{ share.c_name }}</p>
     <p>closeprice: &nbsp; {{ share.close }} &nbsp; &nbsp; &nbsp; price_change: &nbsp; {{ share.price_change }}</p>
     {% if session.logged_in %}
     <form action="{{ url_for('modify_share', code=share.code) }}" method=post class=add-share>
     <p> holdingQuantity: &nbsp; {{ share.holdingQuantity }} 
          &#12288;&#12288;&#12288;&#12288;&#12288;
          Modify Quantity:&nbsp;<input type=text size=7 name=quantity>
                          <input type=submit value=Submit> </p>
     </form>
     {% endif %}   
  {% else %}
   	 <li><em>Unbelievable. No shares found here</em>
  {% endfor %}
  <h3>{{ profit }}</h3>
  </ul>
{% endblock %}







